{# Ceci est un commentaire #}
{# src/JH_Project/JobHubBundle/Resources/views/Site_JobHub/index.html.twig #}

{# twig parent: #}
{% extends "JobHubBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Accueil{% endblock %}



{% block body %}

{% block navbar %}
{{ parent() }}
{% endblock %}
 
    <div id="content">
 
        hello, {{name}}
 
    </div>
 
 {% block footer %}
{{ parent() }}
    
{% endblock %}


{% endblock %}
