{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CV</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Maj</th>
                <td>{{ entity.maj|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('candidat_cv') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('job_hub_cv_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
