{% extends "JobHubBundle::admin_layout.html.twig" %}


{% block title %}{{ parent() }} - administration{% endblock %}


{% block page_title %}
<h2>Nouvel Entreprise</h2>
{% endblock %}

{% block page_content %}
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('administration_entreprise') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
