

{% extends "JobHubBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - espace entreprise{% endblock %}

{% block body %}
login: input</br>
mote de passe: input</br>
mot de pass oublié?(link)</br>
<button>connecter</button>
{% endblock %}
