{% extends "JobHubBundle::admin_layout.html.twig" %}

{% block page_title %}
<h2>Candidature</h2>
{% endblock %}

{% block page_content %}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('administration_candidature') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
