{% extends "::base.html.twig" %}

{% block title %}SearchEngineBundle:SearchOfferController:search{% endblock %}

{% block body %}
<h1>Welcome to the SearchOfferController:search page</h1>
{% endblock %}
